<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Admin Page</title>
</head>
<body>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center">
        <h1>Welcome to the Navigation Page</h1>
        <div class="d-grid gap-3">
            <a class="btn btn-primary" href="/admin/workspaces">Workspace Administration</a>
            <a class="btn btn-secondary" href="/admin/view-bookings">Booking Administration</a>
            <a class="btn btn-outline-secondary" href="/">Homepage</a>
        </div>
    </div>
</div>
</body>
</html>
