<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Equipment</title>
</head>
<body>
<div class="container">
    <header class="row">
        <h1 th:text="${workspace.name}">DummyName</h1>
    </header>
    <main class="row">
        <section class="mt-5">
            <h2>Equipments</h2>
            <ul  class="list-group" th:remove="all-but-first">
                <li class="list-group-item" th:each=" e : ${workspace.getEquipments()}">
                    <span th:utext="${e.description}">Was auch immer</span>
                </li>
                <li class="list-group-item">
                    <span>Noch mehr Kram</span>
                </li>
                <li class="list-group-item">
                    <span>I do not care at all</span>
                </li>
            </ul>
        </section>
        <section class="mt-5">
            <h2>Equipment hinzufügen</h2>
            <form method="post" action="/equipment/add">
                <input type="hidden" name="id" th:value="${workspace.id}">
                <label for="equipmentId" class="visually-hidden"></label>
                <textarea id="equipmentId" class="form-control" name="text"></textarea>
                <button class="mt-2 btn btn-primary" type="submit">add Equipment</button>
            </form>
        </section>
        <section class="mt-5">
            <a href="/admin/workspaces">Zur Übersicht</a>
        </section>

    </main>
</div>
</body>
</html>