<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>ERROR</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center">
            <h1>Workspace is not found.</h1>
            <div class="d-grid gap-3">
                <a class="btn btn-primary" href="/admin/workspaces">Workspaces</a>
            </div>
        </div>
    </div>
</body>
</html>